<!DOCTYPE html>
<html lang="en">

<head>
    <title>โพสต์ขอปรับสถานะ</title>
    <% include partials/header %>
</head>

<body>
    <% postdata %>
    <% userdata %>
    <div class="banner" style="background-image: url(/img/userBanner.jpg);">
        <h1 class="bannerText">ระบบบริหารและจัดการข้อมูล</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">โพสต์ขอปรับสถานะ</a>
    <% include partials/navbar2 %>

    <% include partials/adminnav %>

    <div class="adminShowArea">
        <div class="row">
            <div class="col-md-12 col-lg-4 signinBox" style="margin-top: 1.5em;">
                <div class="memberBox">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <% let picurl = '/image/user/'+userdata._id; %>
                            <img class="img-fluid" src=<%= picurl %>>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="row" style="margin-top: 2em;">
                                <div class="col-auto">
                                    <label class="postDetailList">ชื่อ : </label>
                                </div>
                                <div class="col-auto">
                                    <label class="postDetailList">
                                        <%= userdata.name %>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <label class="postDetailList">นามสกุล : </label>
                                </div>
                                <div class="col-auto">
                                    <label class="postDetailList"><%= userdata.lname %></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1em;">
                        <div class="col-12 btn-group">
                            <a href="/user/<%= userdata.username %>" class="btn btn-primary">กลับหน้าโปรไฟล์</a>
                            <a href="<%= '/view/user_post_'+userdata.username %>"
                                class="btn btn-warning">ดูประวัติโพสต์</a>
                            <a href="/signout" class="btn btn-danger">ออกจากระบบ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h1>พบ <%= postdata.length %> ผลการค้นหา</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <% for(let i = postdata.length -1; i >= 0 ; i--){ %>
                    <div class="col-sm-12 col-lg-6">
                        <div class="card w-100 storycard">
                            <div class="card-body">
                                <h4 id="title" class="card-title">[<%= postdata[i].postType %>]</h4>
                                <div class="row">
                                    <div class="col-5" style="text-align: center;">
                                        <img id="petPic" class="img-fluid" src="<%= '/image/post/'+postdata[i]._id %>">
                                    </div>
                                    <div class="col-7" style="padding-left: 1em;">
                                        <div class="row">
                                            <div class="col-5">
                                                <label>ลักษณะ</label>
                                            </div>
                                            <div class="col-7">
                                                <label id="identity"><%= postdata[i].identity %></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>สายพันธุ์</label>
                                            </div>
                                            <div class="col-7">
                                                <label id="species"><%= postdata[i].species %></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>สถานะน้อง</label>
                                            </div>
                                            <div class="col-7">
                                                <label id="petStatus"><%= postdata[i].petStatus %></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <label>สถานะโพสต์</label>
                                            </div>
                                            <div class="col-7">
                                                <label id="petStatus"><%= postdata[i].postStatus %></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 1em;">
                                    <div class="col-12 btn-group">
                                        <a href=<%= '/delete/post/admin/'+postdata[i]._id %>
                                            class="btn btn-outline-danger btn-dark">ลบ</a>
                                        <a href=<%= '/view/post_'+postdata[i]._id %>
                                            class="btn btn-outline-primary btn-dark">ดูรายละเอียด</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
    <%include partials/footer %>
</body>

</html>