<!DOCTYPE html>
<html lang="en">

<head>
    <title>แก้ไขข้อมูล</title>
    <% include partials/header %>
</head>

<body>
    <% userdata %>
    <% authen %>
    <div class="banner" style="background-image: url(/img/userBanner.jpg);">
        <h1 class="bannerText">แก้ไขข้อมูล</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">คู่มือการเลี้ยง</a>
    <% include partials/navbar2 %>

    <div class="showPost">
        <div id="signup">
            <!-- <% let update = '/user/edit_'+userdata.username; %> -->
            <form method="POST" action="/user/edit" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label for="name">ชื่อ (ภาษาไทย)</label>
                        <input id="name" name="name" class="form-control" type="text" required value=<%= userdata.name %>>
                        <label for="lname">นามสกุล (ภาษาไทย)</label>
                        <input id="lname" name="lname" class="form-control" type="text" required value=<%= userdata.lname %>>
                        <label for="gender">เพศ</label>
                        <select class="form-control" id="gender" name="gender" value=<%= userdata.gender %>>
                            <% if(userdata.gender === 'ชาย' || userdata.gender === 'male') { %>
                            <option value="ชาย">ชาย</option>
                            <option value="หญิง">หญิง</option>
                            <% }else{ %>
                            <option value="หญิง">หญิง</option>
                            <option value="ชาย">ชาย</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div id="uploadUserPic">
                            <label class="file-upload btn btn-primary">
                                <input type="file" id="picture" name="picture" hidden>
                                เลือกรูปภาพ
                            </label>
                            <label>รูปภาพควรมีขนาด 640px X 480px</label>
                            <br>
                            <% let picurl = '/image/user/'+userdata._id; %>
                            <div style="width: 100%;height: 180px; text-align: center;">
                                <img id="img-upload" src=<%= picurl %> style="width: 240px ;height: 180px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>ที่อยู่ปัจจุบัน</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-2">
                        <label for="address">บ้านเลขที่</label>
                        <input id="address" name="address" class="form-control" type="text" required value=<%= userdata.address %>>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <label for="village">หมู่/หมู่บ้าน</label>
                        <input id="village" name="village" class="form-control" type="text" value=<%= userdata.village %>>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <label for="road">ถนน</label>
                        <input id="road" name="road" class="form-control" type="text" value=<%= userdata.road %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="subdistrict">ตำบล/แขวง</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="subdistrict" name="subdistrict" type="text" class="form-control" required value=<%= userdata.subdistrict %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="district">อำเภอ/เขต</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="district" name="district" type="text" class="form-control" required value=<%= userdata.district %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="province">จังหวัด</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="province" name="province" type="text" class="form-control" required value=<%= userdata.province %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="zipcode">รหัสไปรษณีย์</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="zipcode" name="zipcode" type="text" class="form-control" required value=<%= userdata.zipcode %> >
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="zipcode">เบอร์โทรศัพท์</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="phone" name="phone" type="text" class="form-control" required value=<%= userdata.phone %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="email">e-mail</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="username" name="username" type="text" class="form-control" required readonly value=<%= userdata.username %>>
                    </div>
                </div>
                <!-- <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="password">รหัสผ่าน</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="password" name="password" type="password" class="form-control" required>
                    </div>
                </div> -->
                <!-- <input type="text" id="status" name="status" value="consumer" hidden> -->
                <div class="row">
                    <div class="col-12" style="text-align: center;">
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit">ยืนยันข้อมูล</button>
                            <!-- <a href=<%= '/user/edit_user'+userdata.username+'?_method=PUT' %>>ยืนยันข้อมูล</a> -->
                            <a href="/signin" class="btn btn-danger">ยกเลิก</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%include partials/footer %>
</body>

</html>