<!DOCTYPE html>
<html lang="en">

<head>
    <title>แก้ไขโพสต์</title>
    <% include partials/header %>
</head>

<body>
    <% postdata %>
    <div class="banner">
        <h1>แก้ไขโพสต์</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">แก้ไขโพสต์</a>
    <% include partials/navbar2 %>

    <div class="showPost editpost">
        <% let update = '/edit/post/'+postdata._id; %>
        <form id="createPost" class="makePost" method="POST" action=<%= update %> enctype="multipart/form-data">
            <input type="text" id="petType" name="petType" value="cat" hidden>
            <input type="text" id="owner" name="owner" value=<%= postdata.owner %> hidden>
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <h1>ประเภทโพสต์</h1>
                </div>
                <div class="col-sm-12 col-lg-9">
                    <div class="form-check-inline">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-auto">
                                <input class="form-check-input" type="radio" id="postType" name="postType" value="ตามหา"
                                    <% if(postdata.postType === 'ตามหา') {%> checked <% } %>>
                                <label class="form-check-label">ตามหา</label>
                            </div>
                            <div class="col-12 col-lg-auto">
                                <label class="someDetail form-check-label">&nbsp;(โพสต์หาแมวตามลักษณะที่ต้องการ)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check-inline">
                        <div class="row no-gutters">
                            <div class="col-12 col-lg-auto">
                                <input class="form-check-input" type="radio" id="postType" name="postType"
                                    value="หาบ้าน" <% if(postdata.postType === 'หาบ้าน') {%> checked <% } %>>
                                <label class="form-check-label">หาบ้าน</label>
                            </div>
                            <div class="col-12 col-lg-auto">
                                <label class="someDetail form-check-label">&nbsp;(หาที่อยู่ใหม่ให้กับแมว)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div id="uploadcatpic">
                        <label class="file-upload" style="text-align: center">
                            <input type="file" id="picture" name="picture" hidden>
                            <img id="img-upload" src=<%= '/image/post/'+postdata._id %> style="width: 55%">
                        </label>
                        <!-- <br>
                        <div style="width: 100%;height: 180px; text-align: center;">
                            <img id="img-upload" style="width: 240px ;height: 180px;">
                        </div> -->
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <label>บรรยายลักษณะเด่น<p class="someDetail">(เช่น สี,ลักษณะขน)</p></label>
                    <textarea class="form-control" id="identity" name="identity"
                        rows="5"><%= postdata.identity %></textarea>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <label>บรรยายลักษณะ<p class="someDetail">(โดยละเอียด)</p></label>
                    <textarea class="form-control" id="moreDetail" name="moreDetail"
                        rows="5"><%= postdata.moreDetail %></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <label>สายพันธุ์</label>
                    <input class="form-control" type="text" id="species" name="species" value=<%= postdata.species %>>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <label>สถานะ</label>
                    <select class="form-control" id="petStatus" name="petStatus" value=<%= postdata.petStatus %>>
                        <% if(postdata.petStatus === 'หาบ้าน'){ %>
                        <option value="หาบ้าน">หาบ้าน</option>
                        <option value="เปลี่ยนเจ้านาย">เปลี่ยนเจ้านาย</option>
                        <% }else{ %>
                        <option value="เปลี่ยนเจ้านาย">เปลี่ยนเจ้านาย</option>
                        <option value="หาบ้าน">หาบ้าน</option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>ข้อมูลติดต่อเพิ่มเติม</label>
                    <textarea class="form-control" id="moreContact" name="moreContact"
                        rows="5"><%= postdata.moreContact %></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <label>ปรับสถานะโพสต์</label>
                    <select class="form-control" id="postStatus" name="postStatus">
                        <% if(postdata.postStatus === 'ปกติ'){ %>
                        <option value="ปกติ">ปกติ</option>
                        <option value="ปิดโพสต์">ปิดโพสต์</option>
                        <% }else if(postdata.postStatus === 'ถูกแจ้งผิดกฎ') { %>
                        <option value="ถูกแจ้งผิดกฎ">ผิดกฎ</option>
                        <% }else if(postdata.postStatus === 'ปิดโพสต์') { %>
                        <option value="ปิดโพสต์">ปิดโพสต์</option>
                        <option value="ปกติ">ปกติ</option>
                        <% } %>
                    </select>
                </div>

                <div class="col-12 col-md-12 col-lg-6">
                    <label>
                        ข้อควรทราบเกี่ยวกับสถานะโพสต์ !!
                    </label>
                    <p class="someDetail">
                        1. การปรับสถานะโพสต์เป็น 'ปิดโพสต์' หมายถึง สามารถหาบ้าน หรือผู้รับเลี้ยงใหม่ได้แล้ว
                        และโพสต์จะถูกลบออกจากเว็บไซต์ภายใน 7 - 14 วัน หลังจากปรับสถานะ <br>
                        2. หากโพสต์ของท่านถูกแจ้งผิดกฎ (สถานะขึ้นเป็น 'ผิดกฎ') ท่านต้องทำการติดต่อ Admin
                        เพื่อทำการยื่นยันและปรับสถานะเท่านั้น ผ่าน e-mail : example@example.com
                    </p>
                </div>
            </div>
            <div class="row" style="margin-top: 1em;">
                <div class="col-sm-12 col-lg-12" style="text-align: center">
                    <div class="btn-group">
                        <button class="btn btn-success" type="submit">ยืนยัน</button>
                        <a href=<%= '/view/user_post_'+postdata.owner %> class="btn btn-danger">ยกเลิก</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>