<!DOCTYPE html>
<html lang="en">

<head>
    <title>มูลนิธิเพื่อสัตว์</title>
    <% include partials/header %>
</head>

<body>
    <% data %>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">มูลนิธิเพื่อสัตว์</a>
    <% include partials/navbar2 %>

    <div class="banner">
        <h1>มูลนิธิเพื่อสัตว์</h1>
        <br>
    </div>

    <div class="showPost">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8" style="margin: 0 auto 0 auto;">
                <div class="row">
                    <div class="col-12">
                        <h1>พบ <%= data.length %> ผลการค้นหา</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-8" style="margin: 0 auto 0 auto;">
                <div class="row">
                    <% for(let i = 0; i < data.length ; i++){ %>
                    <div class="col-12 col-md-12 col-lg-12" style="margin: 0 auto 0 auto;">
                        <div class="card w-100 foundationcard">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h1><%= data[i].name %></h1>
                                        <% let text = data[i].description;
                                            let txt = text.substr(0,100); %>
                                        <p><%= txt %>...</p>
                                    </div>
                                    <div class="col-6">
                                        <img class="img-fluid" src="/image/foundation/<%= data[i]._id %>">
                                    </div>
                                </div>
                                <a class="btn btn-success" href="/foundation/<%= data[i]._id %>">อ่านรายละเอียด</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>