<!DOCTYPE html>
<html lang="en">

<head>
    <title>รายการคู่มือการเลี้ยง</title>
    <% include partials/header %>
</head>

<body>
    <% data %>
    <% userdata %>
    <div class="banner">
        <img src="img/cat.png">
        <h1>ระบบบริหารและจัดการข้อมูล</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">คู่มือการเลี้ยง</a>
    <% include partials/navbar2 %>

    <% include partials/adminnav %>

    <div class="adminShowArea">
        <div class="row">
            <div class="col-md-12 col-lg-4 signinBox" style="margin-top: 1.5em;">
                <div class="memberBox">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <% let picurl = '/image/user/'+userdata._id; %>
                            <img class="img-fluid" src=<%= picurl %>>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="row" style="margin-top: 2em;">
                                <div class="col-auto">
                                    <label class="postDetailList">ชื่อ : </label>
                                </div>
                                <div class="col-auto">
                                    <label class="postDetailList">
                                        <%= userdata.name %>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <label class="postDetailList">นามสกุล : </label>
                                </div>
                                <div class="col-auto">
                                    <label class="postDetailList"><%= userdata.lname %></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 1em;">
                        <div class="col-12 btn-group">
                            <a href="/user/<%= userdata.username %>" class="btn btn-primary">กลับหน้าโปรไฟล์</a>
                            <a href="<%= '/view/user_post_'+userdata.username %>"
                                class="btn btn-warning">ดูประวัติโพสต์</a>
                            <a href="/signout" class="btn btn-danger">ออกจากระบบ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="searchTab">
                            <form method="POST" action="">
                                <div class="input-group">
                                    <input type="text" id="foundationSearch" class="form-control" placeholder="ค้นหา"
                                        required>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn" style="background-color: #795548"><i
                                                class="fas fa-search" style="color: white;"></i></button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <% for(let i = 0; i < data.length ; i++){ %>
                    <div class="col-sm-12 col-md-4">
                        <div class="card w-100 foundationcard">
                            <img class="card-img-top img-fluid">
                            <div class="card-body">
                                <p><%= data[i].title %></p>
                                <a class="btn btn-success" href="/howto/<%= data[i]._id %>">อ่านรายละเอียด</a>
                                <a class="btn btn-outline-warning btn-dark"
                                    href="/howto/edit_<%= data[i]._id %>">แก้ไขข้อมูล</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>