<!DOCTYPE html>
<html lang="en">

<head>
    <title>ประวัติการโพสต์</title>
    <% include partials/header %>
</head>

<body>
    <% postdata %>
    <div class="banner">
        <img src="img/cat.png">

        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">ประวัติโพสต์</a>
    <% include partials/navbar2 %>

    <div class="searchTab">
        <form method="POST" accept="">
            <div class="input-group">
                <input type="text" id="catSearch" class="form-control" placeholder="ค้นหา" required>
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color: #795548"><i class="fas fa-search"
                            style="color: white;"></i></button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="row">
            <% for(let i = postdata.length -1; i >= 0 ; i--){ %>
            <div class="col-sm-12 col-lg-6">
                <div class="card w-100 storycard">
                    <div class="card-body">
                        <h4 id="title" class="card-title">[<%= postdata[i].postType %>]</h4>
                        <div class="row">
                            <div class="col-5" style="text-align: center;">
                                <% picurl = '/image/postpic/'+postdata[i]._id; %>
                                <img id="petPic" src=<%= picurl %> style="height: 150px; width: 100%">
                            </div>
                            <div class="col-7" style="padding-left: 1em;">
                                <div class="row">
                                    <div class="col-5">
                                        <label>ลักษณะ</label>
                                    </div>
                                    <div class="col-7">
                                        <label id="identity"><%= postdata[i].identity %></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label>สายพันธุ์</label>
                                    </div>
                                    <div class="col-7">
                                        <label id="species"><%= postdata[i].species %></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label>สถานะ</label>
                                    </div>
                                    <div class="col-7">
                                        <label id="petStatus"><%= postdata[i].petStatus %></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 btn-group">
                                        <a href="#" class="btn btn-outline-danger btn-dark">ลบ</a>
                                        <a href=<%= '/edit/post_'+postdata[i]._id %> class="btn btn-outline-primary btn-dark">แก้ไข</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

</body>

</html>