<!DOCTYPE html>
<html lang="en">

<head>
    <title>ดูข้อมูลขอรับเลี้ยง</title>
    <% include partials/header %>
</head>

<body>
    <% postdata %>
    <% userdata %>


    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">ดูข้อมูลขอรับเลี้ยง</a>
    <% include partials/navbar2 %>

    <div class="banner">
        <% if (postdata.petType === 'cat') {%>
        <h1>เรื่องแบบแมว</h1>
        <% }else{%>
        <h1>เรื่องแบบหมา</h1>
        <% } %>
        <br>
    </div>

    <div class="container showArea">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h1 style="margin-top: 1em;">รายละเอียดขอรับเลี้ยง</h1>
                <div class="card takeCare">
                    <div class="card-body">
                        <h4 class="card-title">[<%= postdata.postType %>]</h4>
                        <div class="row">
                            <div class="col-5" style="text-align: center;">
                                <% let urlpic = '/image/post/'+ postdata._id; %>
                                <img id="petPic" class="img-fluid" src=<%= urlpic %>>
                            </div>
                            <div class="col-7" style="padding-left: 1em;">
                                <div class="row">
                                    <div class="col-5">
                                        <label>ลักษณะ</label>
                                    </div>
                                    <div class="col-7">
                                        <label id="identity"><%= postdata.identity %></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label>สายพันธุ์</label>
                                    </div>
                                    <div class="col-7">
                                        <label id="species"><%= postdata.species %></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <label>สถานะ</label>
                                    </div>
                                    <div class="col-7">
                                        <label id="petStatus"><%= postdata.petStatus %></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <% 
                                            let url;
                                            if (postdata.petType === 'cat') {
                                                url = '/view/post_'+postdata._id
                                            }else{
                                                url = '/view/post_'+postdata._id;
                                            } %>
                                        <a href=<%= url %> class="btn takeCareBTN">อ่านรายละเอียด</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div>
                    <h1 style="margin-top: 1em;">ข้อมูลผู้ตั้งโพสต์</h1>
                </div>

                <div class="card ownerPost">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5" style="text-align: center;">
                                <% let userpic;
                                if(userdata.pic === null){
                                    userpic = '/img/web_avartar.png';
                                }else{
                                    userpic = '/image/user/'+ userdata._id;
                                } %>
                                <img id="owerPic" class="img-fluid" src=<%= userpic %>>
                            </div>

                            <div class="col-7">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <label>
                                            ชื่อ
                                        </label>
                                    </div>
                                    <div class="col-auto" style="padding-left: 1.5em;">
                                        <label id="ownerName"><%= userdata.name %></label>
                                    </div>
                                </div>

                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <label>
                                            นามสกุล
                                        </label>
                                    </div>
                                    <div class="col-auto" style="padding-left: 1.5em;">
                                        <label id="ownerLname"><%= userdata.lname %></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1em;">
                            <div class="col-12">
                                <label>
                                    <h3>การติดต่อ</h3>
                                </label>
                            </div>
                            <div class="col-auto">
                                <label>
                                    เบอร์โทร.
                                </label>
                            </div>
                            <div class="col-auto">
                                <label id="telNumber"><%= userdata.phone %></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto">
                                <label>
                                    e-mail
                                </label>
                            </div>
                            <div class="col-auto">
                                <label id="email"><%= userdata.username %></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto">
                                <label>
                                    จังหวัด
                                </label>
                            </div>
                            <div class="col-auto">
                                <label id="facebook"><%= userdata.province %></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>