<!DOCTYPE html>
<html lang="en">

<head>
    <title>ดูข้อมูลโปรไฟล์</title>
    <% include partials/header %>
</head>

<body>
    <% userdata %>
    <% authen %>
    <div class="banner">
        <img src="img/cat.png">
        <h1>ยินดีต้อนรับ <%= userdata.name %>&nbsp;<%= userdata.lname %> </h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">ดูข้อมูลโปรไฟล์</a>
    <% include partials/navbar2 %>

    <div class="container">
        <div id="signup">
            <form>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label for="name">ชื่อ (ภาษาไทย)</label>
                        <input id="name" class="form-control" type="text" readonly value=<%= userdata.name %>>
                        <label for="lname">นามสกุล (ภาษาไทย)</label>
                        <input id="lname" class="form-control" type="text" readonly value=<%= userdata.lname %>>
                        <label for="gender">เพศ</label>
                        <input id="gender" name="gender" class="form-control" type="text" readonly
                            value=<%= userdata.gender %>>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div id="uploadUserPic">
                            <% let picurl = '/image/user/'+userdata._id; %>
                            <div style="width: 100%;height: 180px; text-align: center;">
                                <img id="img-upload" src=<%= picurl %> style="width: 240px ;height: 180px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>ที่อยู่ปัจจุบัน</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-2">
                        <label for="address">บ้านเลขที่</label>
                        <input id="address" class="form-control" type="text" readonly value=<%= userdata.address %>>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <label for="village">หมู่/หมู่บ้าน</label>
                        <input id="village" class="form-control" type="text" readonly value=<%= userdata.village %>>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <label for="road">ถนน</label>
                        <input id="road" class="form-control" type="text" readonly value=<%= userdata.road %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="subdistrict">ตำบล/แขวง</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="subdistrict" type="text" class="form-control" readonly
                            value=<%= userdata.subdistrict %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="district">อำเภอ/เขต</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="district" type="text" class="form-control" readonly value=<%= userdata.district %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="province">จังหวัด</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="province" type="text" class="form-control" readonly value=<%= userdata.province %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="zipcode">รหัสไปรษณีย์</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="zipcode" type="text" class="form-control" readonly value=<%= userdata.zipcode %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="zipcode">เบอร์โทรศัพท์</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="phone" name="phone" type="text" class="form-control" readonly
                            value=<%= userdata.phone %>>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-12 col-lg-2 col-form-label" for="email">e-mail</label>
                    <div class="col-sm-12 col-lg-10">
                        <input id="email" type="text" class="form-control" readonly value=<%= userdata.username %>>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="text-align: center;">
                        <div class="btn-group">
                            <a href=<%= '/user/'+userdata.username %> class="btn btn-primary">กลับ</a>
                            <% if(authen) { %>
                            <a href=<%= '/user/edit_'+userdata.username %> class="btn btn-danger">แก้ไขข้อมูล</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>